@import "../../../css-config/mixins.scss";

.shop-by-category {
    margin: 25px 0;
    @include md {
        margin: 50px 0;
    }
    .categories {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        .category {
            position: relative;
            background-color: black;
            width: calc(50% - 5px);
            cursor: pointer;
            overflow: hidden;
            @include md {
                width: calc(20% - 10px);
            }
            img {
                width: 100%;
                display: block;
                transition: all ease 0.3s
            }
            .category-name {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 17px;
                font-weight: bold;
                text-align: center;
                z-index: 2;
              }
            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}
