.filters {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    align-items: start;
    padding: 10px 0px;
    background-color: aliceblue;

    button {
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgba(0, 0, 139, 0.596);
        background-color: white;
        height: 35px;
        cursor: pointer;
        margin: auto;
    }

    button:hover {
        color: #fff;
        background-color: darkblue;
    }

    .selectCategory {
        width: 200px;
        padding: 3px;
        border-radius: 5px;
        height: 35px;
    }

    .selectSubcategory {
        width: 200px;
        padding: 3px;
        height: 35px;
        border-radius: 5px;
    }
}